@media screen and (max-width: 300px) {
    body {
        background-color: lightblue;
    }
}

@media screen and (max-width: 500px) and (min-device-width:300px) {
    body {
        background-color: blue;
    }
}

@media screen and (max-width: 700px) and (min-device-width:500px){
    body {
        background-color: lightgreen;
    }
}

@media screen and (max-width: 900px) and (min-device-width:700px){
    body {
        background-color: green;
    }
}


@media screen and (max-width: 1200px) and (min-device-width:900px) {
    body {
        background-color: lightyellow;
    }
}


@media screen and (max-width: 1400px) and (min-device-width:1200px){
    body {
        background-color: yellow;
    }
}