
h2{
	border-bottom: 1px solid #CCC;
	text-align: center;
}

h1{
	text-align: center;
}

.danger{
	color: red;
}

.container {
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;  
}
.container img {
 	float: left;
 	max-width: 50%;
 	max-height: 50%;
}